body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #333;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%; /* Ensures it stretches across the full width of the page */
}
  

.page_container {
    display: flex;
    flex-direction: column;
    flex: 1; /* This allows the content to grow and fill available space */
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 50px; /* Space for footer */
    line-height: 1.6; /* Optional: adjusts readability */
}

.app_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* Optional: adds rounded corners to the border */

}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .project-image {
        width: 90%;
    }
}